:root {
    --main-color: #F7CDD0;
    --main-text-color: #DD4C77;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table-product .box-information-product .box-img {
    height: 100px;
    width: 150px;

}

.box-information-product .box-img img {
    height: 100%;
}

.box-information-product #choie-product {
    width: 17px;
    height: 17px;
}

.box-information-product .c-img-cart {
    margin-top: 6px;
}

.box-information-product .c-img-cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-product .c-input-quantity {
    width: 60px;
    padding-left: 12px;
}

/* thanh toán  */
.c-pay-left .c-btn-quantity {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-bottom: 4px;
}

.c-pay-left .box-quantity-minus,
.c-pay-left .box-quantity-add {
    width: 20px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

#pay .box-pay .backtocart a {
    color: #000;
    text-decoration: none;
}


#pay .box-pay .backtocart a:hover {
    color: var(--main-text-color);
}

#pay .address input,
#pay .address select {
    height: 45px;
}

/* right  */


/* end thanh toán  */