<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Loha Store</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Giohang</display-name>
    <servlet-name>Giohang</servlet-name>
    <servlet-class>com.cangngo.controller.Giohang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Giohang</servlet-name>
    <url-pattern>/Giohang</url-pattern>
  </servlet-mapping>
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ExportProduct</display-name>
    <servlet-name>ExportProduct</servlet-name>
    <servlet-class>com.cangngo.controller.web.ExportProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportProduct</servlet-name>
    <url-pattern>/ExportProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chitietsanpham</display-name>
    <servlet-name>Chitietsanpham</servlet-name>
    <servlet-class>com.cangngo.controller.web.Chitietsanpham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chitietsanpham</servlet-name>
    <url-pattern>/Chitietsanpham</url-pattern>
  </servlet-mapping>
  

</web-app>